/* ===========================
   FOOTER PRINCIPAL
=========================== */
footer {
    color: var(--fundoclaro);
    padding: 25px 20px 30px;
    font-family: Arial, sans-serif;
}


/* acessibilidade */
.visually-hidden {
    position:absolute;
    left:-9999px;
}

/* ===========================
   CONTAINER
=========================== */
.footer-container {
    display:flex;
    flex-direction:column;
    align-items:center;
}

/* ===========================
   LINKS
=========================== */
.footer-col {
    width:100%;
    display:flex;
    justify-content:center;
}

.options {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
}


.footer-col a {
    text-decoration: none;
    color: var(--fundoclaro);
    font-size: var(--font-small);
    transition:.2s;
}

.footer-col a:hover {
    color: var(--accent-color);
}


/* ===========================
   COPYRIGHT
=========================== */
.footer-bottom {
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    padding-bottom: 55px;
    padding-top:5px;
    font-size: var(--font-text);
    opacity:.75;
}

.footer-bottom p {
    margin:0;
}

/* ===========================
   MOBILE
=========================== */
@media(max-width:650px){
    .options {
        flex-wrap:wrap;
        gap:12px;
    }
    .footer-bottom {
        flex-direction:column;
        gap:5px;

    }

}